* {
  box-sizing: border-box;
}

#primary-header {
  display: flex;
}

.search-form input {
  border: 1px solid #A8D1E7;
  border-radius: 25px;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Call header */

.call-text {
  display: flex;
  align-items: center;
}

.call-text p {
  margin: 0;
}

.red-btn {
  text-decoration: none;
  color: #E13B3F;

  border: 1px solid #E13B3F;
  border-radius: 5px;

  padding: 8px 25px;
  display: block;
}