* {
  box-sizing: border-box;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 18px;
  line-height: 23px;

  color: #1D1818;
}

body, .search-form input::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  width: 1520px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;

  color: #000000;
  margin: 0;

  display: block;
  width: 100%;
}

#primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  width: 1520px;
}

.search-form {
  position: relative;
}

.search-form input {
  border: 1px solid #A8D1E7;
  border-radius: 25px;

  width: 590px;
  height: 45px;

  padding: 15px 25px;
}

.search-form input::placeholder {
  font-size: 16px;
  line-height: 21px;

  color: #626262;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  position: absolute;
  right: 12px;
  top: 12px;
}

/* Call header */

.call-text {
  display: flex;
  align-items: center;
  margin: 0 0 7px -28px;
}

.call-text p {
  margin: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-left: 10px;
}

.red-btn {
  text-decoration: none;
  color: #E13B3F;

  border: 1px solid #E13B3F;
  border-radius: 5px;

  padding: 8px 25px;
  display: block;
}

.red-btn-active {
  color: white;
  background-color: #E13B3F;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 280px;
}

.menu-elem-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: inherit;
}

.elem1-active, .elem3-active {
  color: #384685;
}

.elem1-svg-active path, .elem3-svg-active path {
  fill: #384685;
}

.elem2-active {
  color: #EE3C3F;
}

.elem2-svg-active path{
  fill: #EE3C3F;
}

.icon-container {
  display: flex;
}

.menu-elem-container p {
  padding-top: 10px;
  margin: 0;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 19px;

  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;

  background: #E13B3F;
  border-radius: 7px;

  margin-left: 14px;
}

/* cards */

#popular-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1520px;
}

.card-container {
  width: 358px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  padding: 37px 37px 20px 37px;
  margin-top: 30px;

  background: #FFFFFF;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.label-container {
  display: flex;

  position: absolute;
  top: 22px;
  left: 22px;
}

.label-container p{
  margin: 0;
  font-size: 16px;
  line-height: 21px;

  color: #FFFFFF;

  position: absolute;
  top: 4px;
  left: 19px;
}

.best-seller {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 18px;

  color: #FFFFFF;

  background: #0E9F2E;
  border-radius: 5px;
  width: 63px;
  height: 30px;

  margin-left: 11px;
}

.card-image {
  width: 100%;
  height: 252px;
  object-fit: cover;
}

.card-container h4 {
  font-weight: 400;

  margin: 0;
  padding: 34px 0;

  align-self: flex-start;
}

.card-price {
  width: 100%;
  padding: 17px 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  font-weight: 700;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
}

.card-price::after {
  bottom: 0;
}

.card-price::before {
  top: 0;
}

.card-price::after, .card-price::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;

  position: absolute;
}

.card-price-old {
  margin: 0;
  padding-right: 12px;
  
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: line-through;

  color: #BDBDBD;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 17px;

  position: relative;
}

.card-btn {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 14px 70px;

  border: 1px solid #384685;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;

  margin-right: 32px;
}

.card-btn-active {
  background: #384685;
  color: #FFFFFF;
}

.icon-like-container {
  height: 29px;
}

.icon-like-container svg {
  cursor: pointer;
}

.hidden {
  display: none;
}

.display {
  display: inline-block;
}

.icon-like-popup {
  display:  flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 19px;

  width: 186px;
  height: 70px;

  background-image: url(/imgs/popup.png);
  background-repeat: no-repeat;
  background-position: center;

  z-index: 10;

  position: absolute;
  top: -53px;
  right: -125px;

  font-size: 14px;
  line-height: 18px;

  color: #757575;
}