* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-size: 18px;
  line-height: 23px;

  color: #1D1818;
}

body, .search-form input::placeholder {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
}

#primary-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 93px;
}

.search-form {
  position: relative;
}

.search-form input {
  border: 1px solid #A8D1E7;
  border-radius: 25px;

  width: 590px;
  height: 45px;

  padding: 15px 25px;
}

.search-form input::placeholder {
  font-size: 16px;
  line-height: 21px;

  color: #626262;
}

.search-btn {
  background: transparent;
  border: none;
  cursor: pointer;

  position: absolute;
  right: 12px;
  top: 12px;
}

/* Call header */

.call-text {
  display: flex;
  align-items: center;
  margin: 0 0 7px -28px;
}

.call-text p {
  margin: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin-left: 10px;
}

.red-btn {
  text-decoration: none;
  color: #E13B3F;

  border: 1px solid #E13B3F;
  border-radius: 5px;

  padding: 8px 25px;
  display: block;
}

.red-btn-active {
  color: white;
  background-color: #E13B3F;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 280px;
}

.menu-elem-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  color: inherit;
}

.elem1-active, .elem3-active {
  color: #384685;
}

.elem1-svg-active path, .elem3-svg-active path {
  fill: #384685;
}

.elem2-active {
  color: #EE3C3F;
}

.elem2-svg-active path{
  fill: #EE3C3F;
}

.icon-container {
  display: flex;
}

.menu-elem-container p {
  padding-top: 10px;
  margin: 0;
}

#count {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 19px;

  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;

  background: #E13B3F;
  border-radius: 7px;

  margin-left: 14px;
}

/* cards */

#popular-products {
  display: flex;
}

.card-container {
  width: 358px;
  padding: 25px 37px 20px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
}

.card-container h4 {
  font-weight: 400;
  margin-right: auto;
}

.card-price {
  width: 100%;
  padding: 17px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-weight: 700;
  font-size: 25px;
  line-height: 32px;

  color: #000000;
}

.card-price::after {
  bottom: 0;
}

.card-price::before {
  top: 0;
}

.card-price::after, .card-price::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #E2E2E2;

  position: absolute;
}

.card-price-old {
  position: absolute;
  left: 0;

  margin: 0;
  
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: line-through;

  color: #BDBDBD;
}

.btn-container {
  display: flex;
}

.card-btn {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 14px 70px;

  border: 1px solid #384685;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
}

.card-btn-active {
  background: #384685;
  color: #FFFFFF;
}
.icon-like-container svg {
  cursor: pointer;
}

.svg-hidden {
  display: none;
}

.svg-display {
  display: inline-block;
}